[submodule "src/navigation"]
	path = src/navigation
	url = https://github.com/ros-planning/navigation.git
[submodule "src/teb_local_planner"]
	path = src/teb_local_planner
	url = https://github.com/rst-tu-dortmund/teb_local_planner.git
[submodule "src/slam_karto"]
	path = src/slam_karto
	url = https://github.com/ros-perception/slam_karto.git
